mixin body-src()
  //- Body javascript
  if config.modules.bodyJs
    script(src="static/js/body.min.js")
  
    
  script.
    $('.iziModal').iziModal({ 
      headerColor: null, 
      padding: null, 
      loop: true,     
    });
