extends ../layouts/base

block variables
  - pageLang = "fr"
  - pageTitle = ""
  - pageDescription = ""
  - pageKeywords = ""
  - pageUrl = ""


block body-content
  // Header
  +header

  // Home section
  +home

  // About section
  +about

  // Services section
  +services

  // Process section
  //+process

  // Projects section
  +projects

  // Testimonials section
  //+testimonials

  // Contacts section
  +contacts

  // Footer
  +footer
  
  +modals
