mixin about()
  section#about.about-section
    .container
      .about-card
        header.about-card__header
          h2 À propos
        .about-card__info
          p.
            Je suis Jérôme Skoda, autodidacte et curieux, j'ai commencé le 
            développement informatique avec des petits projets personnels, 
            tels que des outils, des sites web, ou des jeux. 
            Véritable passionné, j’ai développé mes aptitudes et compétences, 
            ainsi que mon savoir-faire, au fil de mes études universitaires, 
            de nombreux stages et lors de diverses compétitions auxquelles 
            j’apprécie participer lors de mes loisirs. 
            
            Aujourd’hui, j’ai fait de ma passion pour l’informatique, mon métier. 
          blockquote
            p.
              A l’occasion de mes travaux sur des projets spatiaux tels que 
              QB50 (XCubeSat / SpaceCube), EyeSat, IGOSat et Ariane 6, mon 
              goût pour le secteur spatial s’est affirmé. 
          p.
            Polyvalent, je serais donc ravi de mettre mes compétences 
            informatiques acquises au service des projets spatiaux.
            N'hésitez pas à me contacter.
          p.about-card__info-status
            span Statut actuel: 
            | Chez 
            a(href="https://www.ariane.group") Ariane Group
            | , disponible fin octobre
