mixin about()
  section#about.about-section
    .container
      .about-card
        header.about-card__header
          h2 À propos
          h4 Codeur de l'espace intersidéral
        .about-card__info
          p Je m'appelle Jérôme Skoda, autodidacte et curieux, j'ai commencé 
            | le développement avec des petits projets personnel (comme des 
            | outils, site web, ou des jeux). Avec le temps, cette passion 
            | de l'informatique est très vite devenue une véritable vocation.
          blockquote
            p Après avoir eu l'occasion de travailler sur de nombreux projets 
              | spatiaux de comme: QB50, EyeSat, SpaceCube, IGOSat et Ariane 6,
              | j'ai developpé un réelle attachement pour le secteur spatial.
          p Vous cherchez quelqu'un de polyvalent pour votre projet dans le 
            | spacial? Ça tombe bien! N'hésitez pas à me contacter.
          p.about-card__info-status
            span Statut actuel: 
            | Chez 
            a(href="https://www.ariane.group") Ariane Group
            | , disponible début octobre
