mixin atouts()
  section#atouts.common-section
    .container
      header.common-section__header
        h2 Atouts
        //h4 Quisque sollicitudin at lorem vitae gravida
      .grid-container
        ul.services.services_advisory
          li.services__item.icon.icon_chat
            h4 Force de proposition
            p.
              Réactif, j’anticipe les évolutions futures et les demandes 
              des clients. Ainsi, je n’hésite pas à proposer des idées 
              nouvelles, afin d’offrir les solutions les plus  adaptées 
              et personnalisées.
          li.services__item.icon.icon_search
            h4 Veille technologique
            p.
              Curieux, je me tiens informé des nouvelles technologiques et de 
              leurs évolutions. Je n’hésite pas à les découvrir et expérimenter 
              afin de proposer les solutions les plus récentes, et à la pointe 
              des technologies disponibles.
        ul.services.services_pm
          li.services__item.icon.icon_art
            h4 Créatif
            p.
              Très inventif, j’élabore des concepts originaux et construit des 
              solutions innovantes et adaptées.
          li.services__item.icon.icon_college
            h4 Polyvalent
            p.
              Fort de mes nombreuses expériences professionnelles, je sais 
              m’adapter et produire un travail de qualité dans de nombreux 
              environnements comme les applications bureau, les applications 
              mobiles, sites web, systèmes embarqués, bases de données 
              et réseaux.
        //.advantages
          h2 Why choose me?
          blockquote
            p Morbi vel orci at ante posuere consequat vel auctor dui. Quisque imperdiet elementum suscipit. Duis dapibus ante vel quam ullamcorper, a accumsan dui viverra. Donec accumsan magna metus, in interdum sem cursus in. Vestibulum sit amet lacus pretium, semper augue vitae, rutrum magna. Maecenas vitae iaculis neque. Aenean semper erat at augue cursus, ac imperdiet urna eleifend. Curabitur vehicula leo vitae orci eleifend lacinia.
            cite John Doe project management consultancy
