mixin contacts()
	#contacts.contacts-section
		.container
			section.contact-card
				header.contact-card__header
					h2 Contact
				.contact-info
					//.contact-info__logo JD
					.contact-info__group
						//.contact-info__additional
							p Donec lorem ante, efficitur?
							p Sed aliquet sagittis odio commodo facilisis?
							p Vivamus vel lacus tellus?
						.contact-info__vcard.vcard
							h4.fn.org Jérôme Skoda
							p.role.title Passionné d'informatique et de cubesat
							p.icon.icon_location
								a.adr.js-anchor(href="#gmap")
									span.country-name Montesson, Yvelines
								| &nbsp;(Île-de-France)
							p.icon.icon_mail
								a.email(href="mailto:contact@jeromeskoda.fr") contact@jeromeskoda.fr
						ul.contact-info__social
							li
								a.icon.icon_globe(href="https://jeromeskoda.fr") Portefolio
							li
								a.icon.icon_github(href="https://github.com/jskd") Github
							li
								a.icon.icon_in(href="https://linkedin.com/in/jeromeskoda") Linkedin
		#gmap.gmap
