mixin footer()
  footer.main-footer
    .container
      p.main-footer__copyright
        | &copy;&nbsp;
        span Jérôme Skoda
      a.main-footer__gotop.icon.icon_gotop.js-anchor(href="#home") To top!
      p.main-footer__links
        | Design par &nbsp;
        a(href="http://orlovmax.com") M. Orlov
        | &nbsp;et&nbsp;
        a(href="https://jeromeskoda.fr") J. Skoda
