mixin header()
	header.main-header
		.first-nav
			.container
				nav.first-nav__links
					ul
						li
							a(href="https://github.com/jskd" target="_blank") Github
						li
							a(href="https://www.linkedin.com/in/jeromeskoda" target="_blank") Linkedin
				a.first-nav__navcontrol.icon.icon_menu.js-navcontrol(href="#") Menu
		.second-nav.js-nav
			.container
				nav.menu
					ul
						li
							a.js-link.js-anchor.is-selected(href="#home") Accueil
						li
							a.js-link.js-anchor(href="#about") À propos
						li
							a.js-link.js-anchor(href="#atouts") Atouts
						li
							a.js-link.js-anchor(href="#projects") Projets
						li
							a.js-link.js-anchor(href="#contacts") Contact
