mixin services()
  section#services.common-section
    .container
      header.common-section__header
        h2 Mes atouts
        //h4 Quisque sollicitudin at lorem vitae gravida
      .grid-container
        ul.services.services_advisory
          li.services__item.icon.icon_research
            h4 Force de proposition
            p Réactif aux évolutions avenir et aux demandes des clients. 
              | J'aime proposer des nouvelles idées, suggérer des évolutions 
              | et améliorations
          li.services__item.icon.icon_strategy
            h4 Veille technologique
            p Curieux, j'adore découvrir et expérimenter les technologies 
              | récentes
        ul.services.services_pm
          li.services__item.icon.icon_plan
            h4 Créatif
            p J'apprécie imaginer des concepts originaux et construire des 
              | solutions innovantes et adaptées aux problèmes
          li.services__item.icon.icon_recover
            h4 Polyvalent
            p J'ai eu l'occasion de travailler sur de nombreux environnements 
              | comme par exemple: des application bureau et mobile, site web, 
              | systéme embarqué, base de données et réseau.
        //.advantages
          h2 Why choose me?
          blockquote
            p Morbi vel orci at ante posuere consequat vel auctor dui. Quisque imperdiet elementum suscipit. Duis dapibus ante vel quam ullamcorper, a accumsan dui viverra. Donec accumsan magna metus, in interdum sem cursus in. Vestibulum sit amet lacus pretium, semper augue vitae, rutrum magna. Maecenas vitae iaculis neque. Aenean semper erat at augue cursus, ac imperdiet urna eleifend. Curabitur vehicula leo vitae orci eleifend lacinia.
            cite John Doe project management consultancy
