.iziModal
  .iziModal-header
    font-family: $font-serif
    background: $color-accent
    padding: 9px 12px 9px 12px

  .iziModal-header.iziModal-noSubtitle .iziModal-header-title
      font-size: 18px


  .iziModal-wrap
    .iziModal-content
      padding: 9px 12px 9px 12px

      & h4
        font-family: $font-sans
        color: $color-accent
        text-align: center
        font-weight: 700
        font-size: 18px
        text-transform: uppercase

      & p, & ul
        font-weight: lighter
        font-size: 16px

      & ul
        padding-left: 18px



      & header
        margin: 0 0 18px 0
        font-weight: lighter


      & .activity
        font-family: $font-sans
        margin: 0 0 18px 0

        & .title
          font-weight: bolder
          float: left
          width: 65%


        & .date
          text-align: right

        @media screen and (max-width: 692px)
          & .title, & .date
            width: 100%
            float: none
            text-align: left

      & ul.tags
        padding-left: 0
        font-size: 14px
        margin: 1px 0

        & li
          display: inline-block
          margin-left: 3px
          border: 1px solid #ccc
          border-radius: 4px
          padding: 1px

        & :first-child
          margin-left: 0
          font-style: italic
          width: 100px
          border: 0



.iziModal-navigate
  button
    opacity: .5

  .iziModal-navigate-next
    background: url('../images/modal/next.png') no-repeat 50% 50%
  .iziModal-navigate-prev
    background: url('../images/modal/prev.png') no-repeat 50% 50%
