.iziModal
  .iziModal-header
    font-family: $font-serif
    background: $color-accent
    padding: 9px 12px 9px 12px

  .iziModal-header.iziModal-noSubtitle .iziModal-header-title
      font-size: 18px


  .iziModal-wrap
    .iziModal-content
      padding: 9px 12px 9px 12px

      & h4
        font-family: $font-sans
        color: $color-accent
        text-align: center
        font-weight: 700
        font-size: 18px
        text-transform: uppercase

      & p
        font-weight: lighter
        font-size: 16px

.iziModal-navigate
  button
    opacity: .5

  .iziModal-navigate-next
    background: url('../images/modal/next.png') no-repeat 50% 50%
  .iziModal-navigate-prev
    background: url('../images/modal/prev.png') no-repeat 50% 50%
