<ifModule mod_rewrite.c>

    RewriteEngine on

    # Force HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301]

    # Remove www
    RewriteCond %{HTTPS} ^www.
    RewriteRule ^(.*)$ / [R=301]

    # Redirect to main page
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ / [R=301]

</ifModule>
